.about-us {
    padding: 35px 0;
}

.about-us-title {
    padding-right: 30%;
}

.awards-wrp {
    margin-top: 35px;
}

.tender-wrp {
    margin-top: 35px;
}

.partners-wrp  {
    margin-top: 35px;
} 

.about-us-sub-title {
    display: inline-block;
    background-color: #edf0f2;
    font-family: $a-extra-bold;
    font-size: 16px;
    color: #222222;
}

.partners {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    &__item {
        margin: 0 auto 20px;
    }
}