.about-us {
    padding: 35px 0;
}

.br-text-mobile,
.br-text-tablet-plus {
    display: none;
}

.indent-left {
    margin-left: 6.5%;
}

.about-us-sub-title {
    display: inline-block;
    background-color: #edf0f2;
    font-family: $a-extra-bold;
    font-size: 16px;
    color: #222222;
}

.awards-wrp {
    margin-top: 35px;
}

.awards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    counter-reset: item;

    &__title {
        padding-bottom: 20px;
        font-family: $a-extra-bold;
        font-size: 18px;
        text-transform: uppercase;
    }

    &__item {
        position: relative;
        width: 225px;
        min-height: 470px;
        margin: 30px 10px 0px 10px;
        padding: 40px 30px;
        background-color: white;
        box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16),
                    -20px 25px 0px 0px rgb(223, 226, 228);
        counter-increment: item;

        &::before {
            position: absolute;
            top: -50px;
            right: 0;
            clip: rect(auto, auto, 50px, auto);
            content: counter(item, decimal-leading-zero);
            font-family: $m-bold;
            font-size: 70px;
            color: #edf0f2; 
        }

        &:not(:nth-child(1)) {
            margin-top: 65px;
        }
    }

    &__text {
        font-family: $a-regular;
        font-size: 16px;
        color: #6b6f7a;

        &::before {
            position: absolute;
            top: 25px;
            left: -15px;
            display: block;
            content: '';
            width: 60px;
            height: 2px;
            background-color: #00eaff;
        }

        &--bold {
            color: #222222;
            font-family: $a-extra-bold;
        }
    }

    &__img {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-55%, 0);
    }
}

.tender-wrp {
    position: relative;
    max-width: 320px;
    margin: 60px 0 0 6.5%;
}

.tender__title {
    margin: 35px 0;
    text-transform: uppercase;
    font-family: $a-extra-bold;
    font-size: 24px;
    color: #000;
}

.tender__text {
    font-family: $a-regular;
    font-size: 14px;
    color: #6b6f7a;   
}

.tender__img {
    position: absolute;
    top: 0;
    left: 58px;
    z-index: -1;
}

.partners-wrp  {
    margin-top: 35px;
} 

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    &__item {
        margin: 15px auto 20px;
    }
}

@media (min-width: 320px) {
    .br-text-mobile {
        display: block;
    }
}

@media (min-width: 550px) {
    .awards {
        justify-content: space-around;

        &__item:not(:last-child) {
            margin-top: 30px !important;
        }
    }
}

@media (min-width: 768px) {
    .br-text-mobile {
        display: none;
    }

    .br-text-tablet-plus {
        display: block;
    }

    .awards__item {
        margin-top: 30px !important;
    }

    .blocks-wrp {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .tender {
        max-width: 400px;

        &__img {
            left: 158px;
        }
    }
}

@media (min-width: 960px) {
    .indent-left {
        margin-left: 0;
    }

    .desktop-flex-wrp {
        display: flex;
        flex-direction: column-reverse;
    }

    .blocks-wrp {
        flex-direction: row;
        margin-top: 20px;
    }

    .tender-wrp {
        margin: 0;
        min-width: 40%;
    }

    .partners-wrp {
        margin: 20px 0 0 5%;
    }

    .partners__item:hover .partners__img {
        transform: scale(1.1);
        // box-shadow: 0px 15px 32px 0px rgba(13, 36, 62, 0.16),
    }

    .tender__img {
        left: 258px;
    }

    .awards {
        justify-content: center;
    }

    .awards__item {
        width: 374px;
        min-height: 275px;
        margin: 30px 0 0 0;
        padding: 0;
        box-shadow: none;

        &::before {
            transform: rotate(-90deg);
            font-size: 30px;
        }
    }

    .awards__title {
        max-width: 40%;
    }
    
    .awards__text {
        max-width: 60%;

        &::before {
            display: none;
        }
    }

    .awards__img {
        top: auto;
        right: 5px;
        bottom: 40%;
        left: auto;
        transform: none;
    }

    .awards__item:not(:last-child) .awards__img {
        right: 50px;
    }
}

@media (min-width: 1170px) {
    .awards {
        justify-content: space-between;
    }
}