*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	text-decoration: none;
	outline: none;
	// text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif; 
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	
}

@media (min-width: 320px)and(max-width: 767px) {
	.container {
		padding: 0 30px;
	}
}

@media (min-width: 768px)and(max-width: 959px) {
	.container {
		padding: 0 10px;
	}
}

@media (min-width: 960px) {
	.container {
		padding: 0 15px;
	}
}

.section-title {
	line-height: 1.5;
	font-family: $a-extra-bold;	
	color: $st-color;
}

@media (min-width: 320px)and(max-width: 767px) {
	.section-title {
		font-size: 20px;
	}
}

@media (min-width: 768px)and(max-width: 959px) {
	.section-title {
		font-size: 30px;
	}
}

@media (min-width: 960px) {
	.section-title {
		font-size: 48px;
	}
}
