// .header {
//     width: 100%;
//     min-height: 50px;
//     background-color: slategrey;
// }







.header{
    @media only screen and (max-device-width: 768px){
    background: url(../images/header-img/header-bg1.png),url(../images/header-img/header-bg2.png);
    background-size: cover;
    background-position: center;
    }
    @media only screen and (min-device-width: 768px){
background: url(../images/header-img/header-bg11.png),url(../images/header-img/header-bg22.png);
background-size: cover;
background-position: center;
    }
   
 
}



.img{
    
    transition: color 200ms linear;
    animation: logo-appear 1s linear;
    transition: 1s;
    transform: rotate(-360deg);
    
}
.img:hover{
    transform: scale(1.2);
}
@keyframes logo-appear {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    50% {
      transform: translateY(0px);
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      /* transform: rotate(360deg); */
    }
  }

.header{
    .img{
        margin: 24px 0 24px 0;
    }
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: $a-extra-bold;
    @media (min-width:768px){
        font-size: 18px;
        line-height: 26px;
}
    &__text-free{
       font-family:  $a-regular;
       padding-bottom: 15px;
       @media (min-width:768px){
           padding-bottom: 30px;
       }
    }
    
    &__text-title{
        color: #00eaff;
        font-size: 19px;
        line-height: 26px;
      padding-bottom: 15px;
      @media (min-width:768px){
            font-size: 40px;
            line-height: 50px;
            padding-bottom: 30px;
    }
       
    }
    &__text-information{
        font-family: $a-medium;
        padding-bottom: 15px;
        @media (min-width:768px){
            padding-bottom: 30px;
        }
    }
    &__text-dtn{
    color: #f1ac2c;
    padding-bottom: 15px;
   
    }
    &__text-data{
        font-size: 20px;
        color: #f1ac2c;
        padding-bottom: 15px;
        @media (min-width:768px){
            font-size: 40px;
            padding-bottom: 27px;
            // line-height: 50px;
    }
    }
    
}

.form{
    
    background-color: #fff;
    color: black;
  padding-bottom: 26px;

    &__title{
        font-family: $a-extra-bold;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        padding:0 19px 10px;
        @media (min-width:768px){
            text-align: center;
            font-size: 24px;
            line-height: 28px;
            padding: 0 110px 25px;
        }
       
    }
    &__text{
        font-family: $a-light;
        font-size: 13px;
        line-height: 18px;
        text-align: left;
        padding:0 19px 10px;
        @media (min-width:768px){
            text-align: center;
            padding-bottom: 25px;
        }
    }

    &__list{
        list-style: none;
        text-align: center;
        margin-bottom: 20px;

    }
    &__list-item{
       &:not(:last-child){
           margin-bottom: 14px;
           
       }
       input[name="name"]:valid,
       input[name="email"]:valid {
         outline: #4caf50 solid 3px;
       }
       input[name="name"]:invalid,
       input[name="mail"]:invalid {
         outline: red solid 3px;
        background-color: rgba(255, 0, 0, 0.459);
        // opacity: 0.5;
       }
        input{
            display: block;
            width: 85%;
            margin: 0 auto;
           font-family: $a-medium;
            min-width: 220px;
            max-width: 468px;
            min-height:40px ;
          border:0.833px solid rgb(82, 82, 82);
          padding-left: 12px;
         
       
        }
    }
    &__button{
        display: block;
        width: 85%;
       margin: 0 auto;
        border: none;
        color: #fff;
        background-color: rgb(255, 107, 8);
    box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
    min-width: 220px;
    max-width: 468px;
    min-height: 40px;
    
  
    text-transform: uppercase;
   
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#323232 50%,#00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
   
   
   &:hover,:active {
       transform: scale(1.1);
    background-position: 0 0;
    color:#fff;
    }
    }
    &__polit-confid{
        font-size: 13px;
        font-family: $m-bold;
        color: rgb(93, 96, 102);
        text-align: center;
        padding: 12px 0 25px;
    }
}


// MIN-WIDTH 1024px

@media (min-width:1024px){
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding:0 30px ;
    }


   
      
    .header{
        letter-spacing: -1px;
        
        &__text-free{
            padding: 0 120px 40px 0;
            
        }
        &__text-title{
            font-size: 56px;
            line-height: 70px;
            padding:0 10px 40px 0;
        }
        &__text-information{
            font-size: 30px;
            line-height: 47px;
        }
        &__text-dtn{
            font-size: 30px;
            line-height: 35px;
            padding-bottom: 20px;
        }
        &__text-data{
          font-size: 47px;
          line-height: 56px;
        }
    }
    .wraper{
        display: flex;
        justify-content: space-between;
    }

    .form{
        letter-spacing: -1px;
        width: 463px;
        &__title{
            text-align: left;
            padding:35px 0 30px 30px;
            font-size: 35px;
            line-height: 50px;
        }
        &__text{
            font-size: 18px;
            text-align: left;
            line-height: 28px;
            padding: 0px 0 28px 34px;
        }
        &__list{
            margin-bottom: 38px;
        }
        &__list-item{
            &:not(:last-child){
                margin-bottom: 38px;
            }
        }
        input{
            min-height: 60px;
        }
        &__button{
            min-height: 60px;
        }
    }
}



// header .container {
//     width: 100%;
//     max-width: 1400px;
//     margin: 0 auto;
//     display: -webkit-flex;
//     display: -moz-flex;
//     display: -ms-flex;
//     display: -o-flex;
//     display: flex;
//     -ms-align-items: center;
//     align-items: center;
//     justify-content: space-between;
//     padding: 0 15px;
//   }
//   header.active .phone_btn {
//     transform: rotate(-45deg);
//   }
//   header.active .phone_btn span:nth-child(3) {
//     width: 0;
//   }
//   header.active .phone_btn span:nth-child(2) {
//     margin: 0 auto;
//     transform: rotate(90deg);
//     top: -1px;
//   }
//   header .phone_btn {
//     width: 40px;
//     cursor: pointer;
//     display: none;
//     transform-origin: center;
//     transition: 0.4s;
//   }
//   header .phone_btn span {
//     width: 100%;
//     height: 2px;
//     display: block;
//     position: relative;
//     transition: 0.4s;
//     background: #fff;
//   }
//   header .phone_btn span:nth-child(2) {
//     margin: 10px 0;
//   }
  
//   @media (max-width: 992px) {
//     header {
//       background: #000;
//     }
//     header .phone_btn {
//       display: block;
//     }
//     header nav {
//       position: fixed;
//       overflow: auto;
//       right: -101%;
//       border-top: 1px solid silver;
//       top: 70px;
//       transition: 0.4s;
//       width: 100%;
//       max-width: 350px;
//       z-index: 5;
//       background: #000;
//       display: flex;
//       -webkit-flex-direction: column;
//       -moz-flex-direction: column;
//       -ms-flex-direction: column;
//       -o-flex-direction: column;
//       flex-direction: column;
//       height: calc(100% - 70px);
//       padding: 15px;
//     }
//     header nav a {
//       margin-bottom: 10px;
//     }
//     header.active nav {
//       right: 0;
//     }
//   }
  
//   .line {
//     width: 100%;
//     max-width: 1000px;
//     margin: auto;
//     display: -webkit-flex;
//     display: -moz-flex;
//     display: -ms-flex;
//     display: -o-flex;
//     display: flex;
//     -ms-align-items: center;
//     align-items: center;
//     justify-content: center;
//     -webkit-flex-wrap: wrap;
//     -moz-flex-wrap: wrap;
//     -ms-flex-wrap: wrap;
//     -o-flex-wrap: wrap;
//     flex-wrap: wrap;
//   }
//   .line .col {
//     height: 100px;
//     width: 30%;
//     min-width: 200px;
//     background: #000;
//     margin: 2px;
//   }
  
//   @media (max-width: 992px) {
//     .line .col {
//       width: 100%;
//       background: red;
//     }
//     .line {
//       display: block;
//     }
//   }
//   @media (max-width: 850px) {
//     .line .col:nth-child(2) {
//       width: 100%;
//       background: blue;
//     }
//   }
//   @media (max-width: 800px) {
//     .line .col:nth-child(2) {
//       background: blue;
//       width: 50%;
//       margin: 5px auto;
//     }
//   }
//   @media (max-width: 320px) {
//     .line .col:nth-child(2) {
//       width: 100%;
//       background: gold;
//       margin: 5px auto;
//     }
//   }

// @media (min-width:768px){
//     .container {
//         width: 100%;
//         // max-width: 620px;
//         margin: 0 auto;
//         padding:0 30px ;
//     }
// }