// fonts
// fonts Acrom family
$a-bold: 'Acrom-Bold', sans-serif;
$a-regular: 'Acrom-Regular', sans-serif;
$a-medium: 'Acrom-Medium', sans-serif;
$a-extra-bold: 'Acrom-ExtraBold', sans-serif;
$a-light: 'Acrom-Light', sans-serif;
// fonts Montserrat family
$m-bold: 'Montserrat-Bold', sans-serif;

// colors
$st-color: #222222; // section title color